body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100; /* set font width to 100% */
  color: white;
  background-color: #191919;
}
