/* Global Sizes */
.logo-width {
  width: 6em;
}
.logo-height {
  height: 6em;
}
.logo-width-small {
  width: 3em;
}
.logo-height-small {
  height: 3em;
}

/* Custom Divider */
.custom-section-divider,
.custom-section-divider-small {
  background-color: white;
  width: 100%;
  margin: 5px;
  padding: 0px;
}
.custom-section-divider {
  height: 2px;
}
.custom-section-divider-small {
  height: 1px;
}

.custom-element-divider {
  background-color: #878787;
  width: 90%;
  margin: 5px auto;
  padding: 0px;
  height: 1px;
}

/* link animations */
.link-btm-animation {
  background: linear-gradient(to right, white 0%, white 100%);
}
.link-btm-animation-grey {
  background: linear-gradient(to right, #878787 0%, #878787 100%);
}

.link-btm-animation,
.link-btm-animation-grey {
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 0 100%; /* Start from the left */

  background-size: 0% 1px; /* Initially hidden */
  transition: background-size 0.4s ease; /* Smooth animation */
  padding: 5px 0 5px 0;
}

.link-btm-animation-grey:hover,
.link-btm-animation:hover {
  background-size: 100% 1px; /* Expand the line from left to right */
}

/* link background animation */
.link-back-animation {
  position: relative;
  text-decoration: none;
  z-index: 1;
  text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black,
    -1px 1px 2px black, 0px 1px 2px black, 0px -1px 2px black, 1px 0px 2px black,
    -1px 0px 2px black;
}
.link-back-animation::before {
  background: white;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1; /* sends background behind the text */
}

.link-back-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
