/* Header styles */
header {
  display: flex;
  flex-direction: column;
  z-index: 1500;
  width: 100%;
}

/* Body styles */
body {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  /* Font settings */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "width" 100;
  color: white;
}

body {
  font-size: 1em;
}

/* Main styles */
main {
  position: relative; /* Ensure pseudo-element is positioned relative to main */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Pseudo-element to place a gradient background image*/
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Add the background */
  background-image: url("../assets/grid.svg");
  background-repeat: repeat;
  background-size: contain;
  /* Add a gradient mask to the background image */
  mask-image: linear-gradient(to left, black 10%, transparent);
  /* Place the image behind the text */
  z-index: -1;
}

/* Footer styles */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #191919;
  width: 100%;
}

/* Scroll Behavior */
html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

header,
main > section {
  scroll-snap-align: start;
}
header,
footer {
  scroll-snap-align: end;
}

main > section {
  scroll-snap-stop: always;
  min-height: 80vh;
  padding: 5em 0;
  overflow-y: auto;
}
/* First section scroll behavior (due to header) */
#aboutUs {
  min-height: 60vh;
  scroll-snap-align: none;
}

/* Responsive styles */
@media (max-width: 640px) {
  body {
    font-size: 0.6em;
  }

  main > section {
    min-height: 80vh;
  }
  #aboutUs {
    min-height: 60vh;
  }

  /* Disable scroll snap */
  html {
    scroll-snap-type: none;
  }

  header,
  footer,
  main > section {
    scroll-snap-align: none;
    scroll-snap-stop: normal;
  }

  /* remove section dividers*/
  .custom-section-divider {
    visibility: hidden;
  }
}
