/* Pulse Animation */
.pulse-animation {
  display: inline-block;
}

.pulse-animation:hover {
  /* Button default styles, customize them to match your button */
  display: inline-block;
  color: #fff;
  cursor: pointer;
  /* Apply the pulse animation */
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
