RewriteEngine On

# Default index rule
RewriteRule ^(en|it)?$ index.html [L]

# Allow for /legal-info without a language prefix
RewriteRule ^legal-info$ /legal/legalInfo.html [L]
# Rewrite for legal info with optional language prefix
RewriteRule ^(en|it)/legal-info$ /legal/legalInfo.html [L]

# Rewrite for privacy policy
RewriteRule ^privacy-policy$ legal/privacyPolicy.html [L]

# Rewrite for terms and conditions
RewriteRule ^terms-and-conditions$ legal/termsAndConditions.html [L]

# Rewrite for sitemap.xml
RewriteRule ^sitemap.xml$ legal/sitemap.xml [L]

# Rewrite for robots.txt
RewriteRule ^robots.txt$ legal/robots.txt [L]
