/* Importing CSS files for different sections */
@import url("css/utils/reset.css"); /* Reset Browser Default CSS */
@import url("css/global.css");
@import url("css/header/branding.css");
@import url("css/header/brandingLanguages.css");
@import url("css/header/navigation.css");
@import url("css/aboutUs.css");
@import url("css/services.css");
@import url("css/certifications.css");
@import url("css/researcchAndDevelopment.css");
@import url("css/footer/global.css");
@import url("css/footer/footerBranding.css");
@import url("css/footer/contactUs.css");
@import url("css/footer/subfooter.css");

/* Header styles */
header {
  display: flex;
  flex-direction: column;
}

/* Body styles */
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100; /* set font width to 100% */
  color: white;
  background-color: #191919;
}

/* Footer styles */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0f0f0f;
  font-size: 0.9em;
}
