/* Importing CSS files for different sections */
@import url("css/utils/reset.css"); /* Reset Browser Default CSS */
@import url("css/global.css");
@import url("css/header/branding.css");
@import url("css/header/brandingLanguages.css");
@import url("css/header/navigation.css");
@import url("css/aboutUs.css");
@import url("css/services.css");
@import url("css/certifications.css");
@import url("css/researcchAndDevelopment.css");
@import url("css/footer/global.css");
@import url("css/footer/footerBranding.css");
@import url("css/footer/contactUs.css");
@import url("css/footer/subfooter.css");

/* Header styles */
header {
  display: flex;
  flex-direction: column;
}

/* Body styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Font settings */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  background-color: #191919;
}

main {
  position: relative; /* Ensure pseudo-element is positioned relative to main */
}

/* Pseudo-element to place a gradient background image*/
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Add the background */
  background-image: url("assets/grid.svg");
  background-repeat: repeat;
  background-size: contain;
  /* Add a gradient mask to the background image */
  mask-image: linear-gradient(to left, black 10%, transparent);
  /* Place the image behind the text */
  z-index: -1;
}

/* Main styles */
main > section {
  padding: 40px;
}
main > section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

main > section p {
  font-size: 1.2em;
  line-height: 1.6;
}

/* Footer styles */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0f0f0f;
}
