/* Footer branding */
#footerBranding {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#footerBranding > div {
  display: flex;
  justify-content: left;
  gap: 0.3em; /* Space between the logo and the text */
}

#footerBranding h1,
#footerBranding p {
  text-align: left;
}

#footerBranding .language {
  font-size: 1em;
}
