/* Contact us */
#contactUs {
  text-align: left;
  width: 25%; /* Increase to move the section to the left */
}

.contact-title {
  display: flex;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
}

.contact-item img {
  width: 1.5em;
  filter: invert(100%) brightness(200%); /* Convert black to white */
}
