/* Contact us */
#contactUs {
  text-align: left;
  /* Increase to move the section to the left */
  width: 25%;
  min-width: fit-content;
}

.contact-title {
  display: flex;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 0.2em 0 0.2em 0;
  gap: 0.5em;
}
.contact-title,
.contact-item {
  white-space: nowrap;
}

.contact-item img {
  width: 1.5em;
}
