/* Footer branding */
#footerBranding {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 35%; /* Increase allow the text to go towards the right */
}

#footerBranding > div {
  display: flex;
  justify-content: left;
}

#footerBranding h1,
#footerBranding p {
  text-align: left;
}
