/* Footer global*/
footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 90%;
}

/* Footer global sizes */
#footerBranding h1,
#contactUs h3 {
  font-size: 2em;
  font-weight: bold;
}

#footerBranding .name-tagline p {
  font-size: 0.91em;
}

#footerBranding .brief-description p,
#contactUs p,
#contactUs a {
  font-size: 1.2em;
}

/* Footer divider */
.footer-custom-divider {
  width: 91%;
  margin: 10px;
}
