footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.3em;
}

footer > div:first-of-type {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

/* Footer branding width*/
#footerBranding .logo {
  width: 11%;
}
#footerBranding .name-tagline {
  width: 89%;
}
#footerBranding img {
  width: 100%;
}

/* Sizes */
#footerBranding h1,
#contactUs h3 {
  font-size: 2em;
  font-weight: bold;
}

#footerBranding .name-tagline p {
  font-size: 0.91em;
}

#footerBranding .brief-description p,
#contactUs p,
#contactUs a {
  font-size: 1.2em;
  line-height: 1.5em;
}

#footerBranding,
#contactUs {
  width: 22em;
  padding: 10px 40px;
}
#footerBranding > div,
#contactUs > div {
  padding: 10px 0;
}
.brief-description,
.contact-links {
  border-top: 1px solid white;
}

@media (max-width: 1060px) {
  footer > div {
    justify-content: center;
  }
}
