/* Footer global*/
footer > div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Footer global sizes */
#footerBranding h1,
#contactUs h3 {
  font-size: 2em;
  font-weight: bold;
}

#footerBranding .name-tagline p {
  font-size: 0.91em;
}

#footerBranding .brief-description p,
#contactUs p {
  font-size: 1em;
  padding: 10px;
}
