/* Language dropdown menu */
.language-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lang-nav {
  margin-left: auto; /* Align to the right */
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

.selected-lang {
  display: flex;
  cursor: pointer;
}

.selected-lang,
.lang-menu ul {
  background-color: rgb(255, 255, 255); /* Add transparency */
}

.lang-menu {
  display: flex;
  justify-content: center;
  position: relative;
}

.selected-lang,
.lang-menu ul li {
  padding: 1px;
}

/* Dropdown menu behavior */
.lang-menu ul {
  display: none;
  position: absolute;
  top: 100%; /* Place below the .lang-menu */
  border-radius: 0 0 2px 2px;
}

.lang-menu:hover ul {
  display: block;
}

.selected-lang,
.lang-menu:hover {
  border-radius: 2px;
}

.lang-menu ul li a:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

/* Flag icons for selected language and dropdown languages */
.selected-lang:before,
.lang-menu ul li a:before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px; /* Flag icon */
  height: 22px; /* Flag icon */
}

.selected-lang:before {
  background-image: url("/assets/icons/flags/it.svg");
}
.selected-lang:hover,
.lang-menu:hover .selected-lang {
  border-radius: 2px 2px 0 0;
}

.lang-menu ul li a:before {
  display: inline-block;
  vertical-align: middle;
}

/* Flag icons */
.en:before {
  background-image: url("/assets/icons/flags/en.svg");
}
.it:before {
  background-image: url("/assets/icons/flags/it.svg");
}
