/* Language dropdown menu */
.language-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lang-nav {
  margin-left: auto; /* Align to the right */
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  width: 73%;
}

.selected-lang {
  display: flex;
}

.selected-lang,
.lang-menu ul {
  background-color: white;
  border-radius: 4px;
  transition: all 1s;
}

.lang-menu {
  display: flex;
  justify-content: center;
  position: relative;
}

.selected-lang,
.lang-menu ul li {
  padding: 1px;
}

/* Dropdown menu behavior */
.lang-menu ul {
  position: absolute;
  top: 100%; /* Place below the .lang-menu */
  border-radius: 0 0 4px 4px;
  /* Hidden COnfiguration */
  opacity: 0;
  transition: opacity 1s ease, transform 1.5s ease, max-height 1s ease;
  pointer-events: none; /* Prevent mouse events when hidden */
  width: 100%;
}

.language-dropdown:hover .lang-menu ul {
  /* Visible COnfiguration */
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Enable mouse events when visible */
}

.selected-lang,
.lang-menu:hover {
  width: 100%;
}

.lang-menu ul li a:hover {
  box-shadow: 0 0 60px rgba(255, 255, 255, 1);
}

/* Flag Size */
.selected-lang:before,
.lang-menu ul li a:before {
  width: 100%;
  aspect-ratio: 1.5/1;
  background-position: center;
}

@media (max-width: 640px) {
  .selected-lang:before,
  .lang-menu ul li a:before {
    width: 40px; /* Flag icon */
    height: 28px; /* Flag icon */
  }
}

/* Flag icons for selected language and dropdown languages */
.selected-lang:before,
.lang-menu ul li a:before {
  content: "";
  background-repeat: no-repeat;
}

.selected-lang:before {
  background-image: url("/assets/icons/flags/it.svg");
}
.language-dropdown:hover .selected-lang,
.lang-menu:hover .selected-lang {
  border-radius: 4px 4px 0 0;
}

.lang-menu ul li a:before {
  display: inline-block;
  vertical-align: middle;
}

/* Flag icons */
.en:before {
  background-image: url("/assets/icons/flags/en.svg");
}
.it:before {
  background-image: url("/assets/icons/flags/it.svg");
}
