/* Branding container */
#branding {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #0f0f0f;
  background: linear-gradient(
    90deg,
    rgba(15, 15, 15, 1) 0%,
    rgba(25, 25, 25, 1) 100%
  );
}

/* Branding sizes */
#branding h1 {
  font-size: 4em;
  font-weight: bold;
}
#branding p {
  font-size: 2em;
}
#branding .logo-width {
  width: 6em;
}
@media (max-width: 850px) {
  #branding .logo-width {
    width: 3em;
  }
  #branding h1 {
    font-size: 2em;
    font-weight: bold;
  }
  #branding p {
    font-size: 1em;
  }
}

/* Branding title and subtitle */
#branding .name-tagline h1,
#branding .name-tagline p {
  text-align: center;
}

/* name and tagline */
.name-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-tagline h1,
.name-tagline p {
  margin: 0;
}
