/* Branding container */
#branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #0f0f0f;
  background: linear-gradient(
    90deg,
    rgba(15, 15, 15, 1) 0%,
    rgba(25, 25, 25, 1) 100%
  );
}

/* Branding sizes */
#branding h1 {
  font-size: 4em;
  font-weight: bold;
}
#branding p {
  font-size: 2em;
}
#branding .logo-width {
  min-width: 5%;
}
#branding .name-tagline {
  width: 90%;
}
#branding .logo {
  width: 6em;
}

/* Branding title and subtitle */
#branding .name-tagline h1,
#branding .name-tagline p {
  text-align: center;
}

/* name and tagline */
.name-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-tagline h1,
.name-tagline p {
  margin: 0;
}
