.language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 2em;
  height: 100%;
  gap: 0.3em;
}

.language > .language a {
  text-decoration: none;
}

.selected-lang {
  font-weight: bold;
  color: #079d04;
}
