#navigation {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

#navigation a {
  font-size: 2em;
  padding: 2px;
}

.navigation-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #020202;
  width: 100%;
  height: auto;
}

.navigation-nav div {
  text-align: center;
  white-space: nowrap;
  padding: 5px 0 5px 0;
  width: 16em;
}

.navigation-nav div * {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  align-items: center;
}

/* Stack vertically on small screens */
@media (max-width: 850px) {
  .navigation-nav {
    flex-direction: column;
    align-items: stretch; /* optional: full width */
  }

  .navigation-nav div {
    width: 100%;
  }
}
