/* Custom Divider */
.custom-section-divider {
  background-color: white;
  width: 100%;
  margin: 5px;
  padding: 0px;
}
.custom-section-divider {
  height: 2px;
}
.custom-element-divider {
  background-color: #878787;
  width: 90%;
  margin: 5px auto;
  padding: 0px;
  height: 1px;
}
