#aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutUs .section-header,
#aboutUs .section-body {
  align-items: baseline;
}

#aboutUs .section-divider {
  width: 27em;
}

#aboutUs .section-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  width: 90%;
  margin: 0;
}

#aboutUs p {
  width: 60%;
}

/* Logo */
.about-us-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.about-us-logo img {
  aspect-ratio: 1/1;
  width: 30em;
}
