/* Main Styles */
main > section {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

/* Sections Elements */
.section-header,
.section-body {
  width: 100%;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title,
.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  margin-bottom: 1em;
}

.section-divider {
  width: 35em;
  margin: 1em;
}

.section-body {
  margin: 0.5em;
}
/* Sizes */
.section-title h1 {
  font-size: 4em;
  font-weight: bold;
}

.subtitle h1 {
  font-size: 3em;
}

.section-body p {
  font-size: 2em;
  line-height: 1.5em;
}
