/* Main Styles */
main > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Sections Elements */
.section-header,
.section-body {
  width: 90%;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.section-body {
  gap: 2em;
}

.section-body > * {
  padding: 10px 0 10px 0;
}

.section-title,
.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  margin-bottom: 1em;
}

.section-divider {
  width: 35em;
  margin: 1em;
}

/* Sizes */
.section-title h1 {
  font-size: 4em;
  font-weight: bold;
}

.subtitle h1 {
  font-size: 3em;
}

.section-body > p,
.service-box > p {
  font-size: 2em;
  line-height: 1.5em;
}
