#navigation {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  width: 100%;
  z-index: 999;
}

#navigation {
  position: sticky;
  top: 0;
}

#navigation a {
  font-size: 2em;
  padding: 2px;
}

.navigation-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #020202;
  width: 100%;
  height: auto;
}

.navigation-nav div {
  text-align: center;
  white-space: nowrap;
  padding: 5px 0 5px 0;
  width: 16em;
}

.navigation-nav div * {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  align-items: center;
}

/* hover effect */
#navigation a {
  transition: color 0.57s ease;
}
/* hover effect on non-selected links */
.navigation-nav:has(.grow-once-animation:hover) a {
  color: rgba(255, 255, 255, 0.3); /* subtle fade */
}
/* Make sure the hovered one stays white */
.navigation-nav:has(.grow-once-animation:hover) .grow-once-animation:hover {
  color: white;
}

/* Stack vertically on small screens */
@media (max-width: 850px) {
  .navigation-nav {
    flex-direction: column;
    align-items: stretch; /* optional: full width */
  }

  .navigation-nav div {
    width: 100%;
  }
}
