#services .section-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.service-box h1 {
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
}
.service-box p {
  font-size: 1.5em;
}

.service-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 4em;
}

.service-box {
  display: flex;
  flex-direction: column;
  background: #292929;
  width: 20%;
  aspect-ratio: 1 / 1;
  min-width: 20em;
  max-width: 20em;
  padding: 1.5em;
  border-radius: 30px;
  gap: 0.5em;
}

.service-divider {
  width: 80%;
}
