.service-box h1 {
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
}
.service-box p {
  font-size: 1.5em;
}

.service-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 4em;
}

.service-box {
  display: flex;
  flex-direction: column;
  background: #292929;
  width: 20%;
  aspect-ratio: 1 / 1;
  min-width: 22em;
  max-width: 22em;
  padding: 2em;
  gap: 0.5em;
}

.service-divider {
  width: 80%;
  margin: 20px auto;
}

/* hover effect */
.service-box {
  transition: color 0.57s ease;
}
/* hover effect on non-selected  */
.service-boxes:has(.grow-once-animation:hover) .grow-once-animation {
  color: rgba(255, 255, 255, 0.3); /* subtle fade */
}
/* Make sure the hovered one stays white */
.service-boxes:has(.grow-once-animation:hover) .grow-once-animation:hover {
  color: white;
}
